#choose-monster-page{
    width: 100vw;
    height: 100vh;
}

#choose-monster-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}

.monster-li{
    margin: 30px;
}

.selected-monster{
    margin: 30px;
    font-size: 30px;
}

#monster-selection{
    display: flex;
}

#monster-card-container{
    margin: 30px;
    background-color: rgb(231, 247, 231);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
}