p {
  text-align: center;
  margin-top: 10%;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.knowledge-monster-shop{
  display: flex;
  width: 33%;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#monster-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%; 
  /* margin: 5%; */
}

#monster-main{
  width: 100%;
  /* height: 100% */
}

#money-container{
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#money-icon{
  width: 30%;
  /* height: 50%; */
}

.icon-container{
  width: 65%;
  height: 20%;
  margin: 4%;
  /* background-color: grey; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

#encyclopedia-icon{
  /* need to figure out how to get this size with percentage!! */
  width: 7em;
}

#face-off-icon{
  width: 100%;
}

#quest-icon{
  width:100%;
}

#shop-icon{
  width:100%;
}