#Signup-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 20px;
    border-radius: 15px;
}


#Signup-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Signup-input{
    display: flex;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


#Signup-button{
    width: 100px;
    padding: 5px;
    margin: 10px;
}

